<%= image_tag "alpha_icon_1.png", :class => "section_icon", :alt => t(:alpha_title_1) %>
<h2 class="section_title"><%=t :alpha_title_1 %></h2>
<p class="section_text"><%=t :alpha_msg_1 %></p>
<h2 class="section_title"><%=t :alpha_title_2 %></h2>
<p class="section_text"><%=t :alpha_msg_2 %></p>
<h2 class="section_title"><%=t :alpha_title_3 %></h2>
<p class="section_text"><%=t :alpha_msg_3 %></p>
