<% hide_nav %>
<% title t(:alpha_title_1), false %>
<img class="section_icon" src="/images/alpha_icon_1.png" />
<h2 class="section_title"><%=t :alpha_title_1 %></h2>
<p class="section_text"><%=t :alpha_msg_1 %></p>
<h2 class="section_title"><%=t :alpha_title_2 %></h2>
<p class="section_text"><%=t :alpha_msg_2 %></p>
<h2 class="section_title"><%=t :alpha_title_3 %></h2>
<p class="section_text"><%=t :alpha_msg_3 %></p>
<div id="two_columns">
  <div id="login_box">
    <p><%=t :alpha_login_msg %></p>
    <%= render 'sessions/login_form' %>
  </div>
  <div id="signup_box">
    <p><%=t :alpha_signup_msg %></p>
    <%= render 'sessions/signup_form' %>
  </div>
</div>
