<% hide_nav %>
<% title t(:alpha_title_1), false %>
<%= render 'alpha/messages' %>
<div id="two_columns">
  <div id="login_box">
    <p><%=t :alpha_login_msg %></p>
    <%= render 'sessions/login_form' %>
  </div>
  <div id="signup_box">
    <p><%=t :alpha_signup_msg %></p>
    <%= render 'sessions/signup_form' %>
  </div>
</div>
