<% hide_nav %>
<% title t :alpha_title %>
<p><%=t :alpha_msg_1 %></p>
<h1><%=t :alpha_title_2 %></h1>
<p><%=t :alpha_msg_2 %></p>
<h1><%=t :alpha_title_3 %></h1>
<p><%=t :alpha_msg_3 %></p>
<div id="two_columns">
  <div id="login_box">
    <%= render 'sessions/login_form' %>
  </div>
  <div id="signup_box">
    <%= render 'sessions/signup_form' %>
  </div>
</div>
