<table class="topic-list">
  <tr>
    <th><%= Topic.model_name.human %></th>
    <th><%= Topic.human_attribute_name :author %></th>
    <th><%= Topic.human_attribute_name :reply_view_count %></th>
    <th><%= Topic.human_attribute_name :last_replied %></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td class="name-desc">
      <%= link_to topic.name, topic, :class => "topic-link" %>
      <div class="desc"><%= topic.description %></div>
    </td>
    <td><%= link_to topic.author.username, topic.author %></td>
    <td><%= topic.reply_count %>/<%= topic.view_count %></td>
    <td><%= topic.last_replied_at %></td>
  </tr>
<% end %>
</table>
