<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Description</th>
    <th>Content</th>
    <th>Reply count</th>
    <th>View count</th>
    <th>Last replied at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= topic.author_id %></td>
    <td><%= topic.description %></td>
    <td><%= topic.content %></td>
    <td><%= topic.reply_count %></td>
    <td><%= topic.view_count %></td>
    <td><%= topic.last_replied_at %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
