<table class="board-list">
  <tr>
    <th class="name"><%= Board.model_name.human %></th>
    <th><%= Board.human_attribute_name :description %></th>
    <th><%= Board.human_attribute_name :topic_count %></th>
    <th><%= Board.human_attribute_name :post_count %></th>
    <th><%=t :admin_actions %></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= link_to board.name, board %></td>
    <td class="description"><%= board.description %></td>
    <td><%= board.topic_count %></td>
    <td><%= board.post_count %></td>
    <td>
      <%= link_to t(:admin_show), board %>
      <%= link_to t(:admin_edit), edit_board_path(board) %>
      <%= link_to t(:admin_delete), board, :confirm => t(:admin_delete_confirm), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
