<table class="board-list">
  <tr>
    <th><%= Board.model_name.human %></th>
    <th><%= Board.human_attribute_name :topic_count %></th>
    <th><%= Board.human_attribute_name :post_count %></th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td class="name-desc">
      <%= link_to board.name, board, :class => "board-link" %>
      <div class="desc"><%= board.description %></div>
    </td>
    <td><%= board.topic_count %></td>
    <td><%= board.post_count %></td>
  </tr>
<% end %>
</table>
