<div id="user_box">
  <% if current_user %>
  <%=t :logged_in_1 %><%= current_user.username %><%=t :logged_in_2 %><%= link_to t(:home), home_path %>
  <%=t :logged_in_3 %><%= link_to t(:profile), edit_profile_path %>
  <%=t :logged_in_3 %><%= link_to t(:logout), logout_path %><%=t :logged_in_4 %>
  <% else %>
    <%=t :guest_1 %><%= link_to t(:signup), alpha_path %><%=t :guest_2 %><%= link_to t(:login), alpha_path %><%=t :guest_3 %>
  <% end %>
</div>
