<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="alpha-page">
    <%= image_tag "alpha-banner.png", class: "alpha-banner" %>
    <%= yield %>
    <div class="alpha-notice">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>
  </body>
</html>
