<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? t(:site_title) + ' - ' + yield(:title) : t(:site_title) %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <%= yield(:head) %>
  </head>
  <body>
    <div id="title_image"></div>
    <div id="container">
      <%= render 'layouts/user_box' if show_nav? %>
      <%= render 'layouts/notice_box' %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>