<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? t(:site_title) + ' - ' + yield(:title) : t(:site_title) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <%= yield(:head) %>
  </head>
  <body>
    <div style="text-align:center;font-size:72pt;color: #aff;text-shadow: -3px 0 5px #977f42, 0 3px 5px #977f42, 3px 0 5px #977f42, 0 -3px 5px #977f42,0 0 64px #200;letter-spacing:-6px;font-family:Cleargothic-Serial;">Arsenal.com.cn</div>
    <div id="container">
      <%= render 'layouts/user_box' if show_nav? %>
      <%= render 'layouts/notice_box' if show_nav? %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>